@page "/EditUser"
@using HttpClients.ClientInterfaces
@using global::Shared.DTOs
@inject IUserService userService;
@inject NavigationManager navMgr;

<AuthorizeView>
    <NotAuthorized>
        <div class="card">
            <h3>Edit User</h3>
            <div class="field">
                <label class="col-5">Phone Number: </label>
                <label>@dto.PhoneNumber</label>
            </div>
            <div class="field">
                <label class="col-5">Firstname: </label>
                <input class="col-5" type="text" @bind="dto.FirstName"/>
            </div>
            <div class="field">
                <label class="col-5">Lastname: </label>
                <input class="col-5" type="text" @bind="dto.LastName"/>
            </div>
            <div class="field">
                <label class="col-5">Address: </label>
                <input class="col-5" type="text" @bind="dto.Address"/>
            </div>
            @if (identity)
            {
                <div class="field">
                    <label class="col-5">Pesticides: </label>
                    <input type="radio" name="pest" onchange="@(()=>IDK())" />
                    <label>True</label>
                    <input type="radio" name="pest" onchange="@(()=>IDK())"/>
                    <label>False</label>
                </div>
                <div class="field">
                    <label class="col-5">Farm name:  </label>
                    <input class="col-5" type="text" @bind="dto.FarmName"/>
                </div>
            }
            
            
            <div class="field">
                <h3>Change Password</h3>
                <label class="col-5">Password: </label>
                <input class="col-5" type="password" @bind="dto.Password"/>
            </div>
            <div class="field">
                <label class="col-5">Repeat Password: </label>
                <input class="col-5" type="password" @bind="dto.RepeatPassword"/>
            </div>
            <div class="field">
                <label class="col-5" style="text-align: center">I am a Farmer</label>
                <input type="radio" name="isFarmer" checked="true" @onchange="changeIdentity"/>
                <label class="col-5" style="text-align: center">I am a Customer</label>
                <input type="radio" name="isFarmer"  @onchange="changeIdentity"/>
            </div>
            
            
            <div class="field">
                <button class="btn" @onclick="EditUserAsync">Edit</button>
                <button class="btn" @onclick="DeleteUserAsync">Delete</button>
            </div>
            @if (!string.IsNullOrEmpty(msg))
                {
                    <label style="color: red">@msg</label>
                }

        </div>
        
        
    </NotAuthorized>
    <Authorized>
        <div>
            <p>You are not logged in!</p>
        </div>
        
    </Authorized>
</AuthorizeView>




@code {
    [Parameter]
    public string phoneNumber { get; set; }

    private EditUserDto dto;
    private bool asd;
    private bool identity=true;
    

    private string msg = "";

    
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        dto = new EditUserDto("11111111");
        try
        {
           // dto = await userService.GetByIdAsync(phoneNumber);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    

    private async Task EditUserAsync()
    {
        try
        {
            Console.WriteLine(asd);
            /*await userService.EditUser(dto);
            navMgr.NavigateTo("/");*/
        }
    catch
        (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async Task DeleteUserAsync()
    {
        
    }

    private void IDK()
    {
        asd = !asd;
    }

    private void changeIdentity()
    {
        identity = !identity;
    }

}