@inject NavigationManager navMgr;
@inject IAuthService authService;
@page "/Login"
@using Blazor.Services
@using global::Shared.DTOs


<AuthorizeView>
    <NotAuthorized>
        <div class="card">
            <h3>Please login</h3>
            <div class="field">
                <label>Phone Number:</label>
                <input type="text" @bind="phoneNumber"/>
            </div>
            <div class="field">
                <label style="text-align: center">Password:</label>
                <input type="password" @bind="password"/>
            </div>
            @if (!string.IsNullOrEmpty(errorLabel))
            {
                <div class="field">
                    <label style="color: red">
                        @errorLabel
                    </label>
                </div>
            }
            <div class="field">
                <button class="btn" @onclick="LoginAsync">Log in</button>
                <button class="btn" @onclick="@(() => navMgr.NavigateTo("/Register"))">Register</button>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity!.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>


@code {
    private string phoneNumber;
    private string password;
    private string errorLabel;
    
    private async Task LoginAsync()
    {
        errorLabel = "";
        try
        {
            LoginDto dto = new LoginDto
            {
                Password = password,
                Phonenumber = phoneNumber
            };
            await authService.LoginAsync(dto);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }
}