.icon {
    width: 30px;
    cursor: pointer;
}
/* Add this to your stylesheet */
.modal {
    /* Add any styles for your modal container */
}
.h1{
    text-align: center;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.label {
    margin-bottom: 8px;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-order-btn, .close-btn, .continue-shopping-btn {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.create-order-btn{
    background-color: #146c43;
}

.create-order-btn:hover, .close-btn:hover, .continue-shopping-btn:hover {
    background-color: #45a049;
}
.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust the margin based on your design preference */
}

/* Additional styling for labels and inputs */
.second label {
    margin-bottom: 8px;
}

.second input {
    padding: 8px;
    margin-bottom: 12px;
}

