@page "/Basket"
<h3>Basket</h3>

 <table class="table">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Farm</th>
                    <th>Amount</th>
                    <th>Post</th>
                </tr>
                </thead>
                <tbody>
           
                </tbody>
            </table>

@code {
    private IEnumerable<global::Shared.Models.Product>? products;

    private async Task OnInitializedAsync()
    {
        try
        {

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            
        }
    }
}