.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #baf8d0;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

.idk {
    margin-bottom: 15px;
}

input[type="number"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.btn:hover {
    background-color: #45a049;
}