.card{
    width: 20%;
    margin-right: 20px;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 2px 10px 2px #3f3f3f;
}

h1,h3{
    text-align: center;
}


img{
    width: 100%;
}


.items{
    display: inline-flex;
    width: 100%;
}

.filter{
    margin: 20px auto;
}