@page "/Shop"

<h3>Shop</h3>
<div class="choice">
    <div class="field">
        <label class="col-3">Search By:</label>
        <input type="radio" name="pest" checked="true" onchange="@(() => changeChoice())"/>
        <label class="col-3">Products</label>
        <input type="radio" name="pest" onchange="@(() => changeChoice())"/>
        <label class="col-3">Farmers</label>
    </div>
</div>

@if (choice)
    {
        <ShopByProducts phoneNumber="all"/>
    }
else
{
    <ShopByFarmers/>
}

    @code {
    
    private bool choice=true;

    

    private void changeChoice()
    {
        choice = !choice;
    }
}