@page "/MyReceiptsPlaceReview"
<h3>MyReceiptsPlaceReview</h3>

<h1 class="h1">Your receipts</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Farm</th>
                        <th>Total</th>   
                        <th>PaymentDate</th>
                        <th>Status?</th>
                        <th>View details</th>
                    </tr>
                </thead>
                <tbody>
                
 

                </tbody>
            </table>

@code {
    public string FarmerId { get; set; }
    public string FarmName { get; set; }
    public double Total { get; set; }
    
}